@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  font-family: "Open Sans", sans-serif !important;
}

:root,
.encore-dark-theme .encore-bright-accent-set,
.progress-bar,
.progress-bar:hover,
.hW9km7ku6_iggdWDR_Lg {
  --background-base: var(--spice-color) !important;
  --is-active-fg-color: var(--spice-color) !important;
  --spice-button: var(--spice-color) !important;
  --is-active-fg-color: var(--spice-color) !important;
  --spice-button-active: var(--spice-color) !important;
  --lyrics-color-active: var(--spice-color) !important;
  --lyrics-color-inactive: #464849 !important;
  --lyrics-color-background: var(--spice-main) !important;
  --lyrics-color-messaging: #333333 !important;
}

.__background, .main-playButton-primary,
.ButtonInner-sc-14ud5tc-0,
.main-button-primary,
.control-button--active-dot:after,
input:checked ~ .x-toggle-indicatorWrapper {
  background-color: var(--spice-color) !important;
  background: var(--spice-color) !important;
  color: var(--spice-contrast) !important;
}

.button-module__button___hf2qg_marketplace {
  color: black;
  background-color: var(--spice-color);
}

.Dropdown-menu {
  background-color: #282828;
  max-height: 30vh;
  max-width: 350px;
  min-width: 145px;
  border: 4px;
}

.__color, .connect-device-list-item--active,
.connect-device-list-item--active *,
.control-button--active,
.main-repeatButton-button, .HbKLiGoYM4dpuK8L4TMX,
.main-repeatButton-button[aria-checked=true],
.main-repeatButton-button[aria-checked=mixed],
.main-shuffleButton-button[aria-checked=true],
button[aria-label=Playing],
.control-button--active-dot:after {
  color: var(--spice-color) !important;
  fill: var(--spice-color) !important;
}

.__color_contrast, .main-connectBar-connectBar.encore-bright-accent-set.mVVxN9ZfIRjiQfDuzPCZ.main-type-mesto {
  color: var(--spice-contrast) !important;
  fill: var(--spice-contrast) !important;
}

.__heart, .control-button-heart,
.main-addButton-active {
  color: var(--spice-heart) !important;
  fill: var(--spice-heart) !important;
}

.__transparent, .main-entityHeader-backgroundColor,
.main-home-homeHeader,
.main-actionBarBackground-background {
  background-color: transparent !important;
  background: transparent !important;
}

.__scale_hover:hover, .HbKLiGoYM4dpuK8L4TMX:hover, .main-playButton-primary:hover,
.ButtonInner-sc-14ud5tc-0:hover,
.main-button-primary:hover {
  transform: scale(1.1) !important;
}

.main-topBar-background {
  background-color: var(--spice-player) !important;
  background: var(--spice-player) !important;
}

.iB16LxoPzDeVZo8zPhPQ {
  isolation: unset !important;
}

.control-button-heart:hover,
.main-addButton-active:hover {
  opacity: 0.75 !important;
}

.e-91000-button-primary:hover .e-91000-button-primary__inner:hover {
  background-color: var(--spice-color) !important;
  background-color: color-mix(in srgb, var(--spice-color) 86%, white 14%) !important;
}

.HbKLiGoYM4dpuK8L4TMX {
  border-radius: 50% !important;
}
.HbKLiGoYM4dpuK8L4TMX._APVWqivXc4YqgsnpFkP {
  background-color: var(--spice-contrast) !important;
}
.HbKLiGoYM4dpuK8L4TMX svg {
  transform: scale(1.1);
}

.progress-bar:hover .epWhU7hHGktzlO_dop6z {
  background: var(--spice-color) !important;
  background-color: var(--spice-color) !important;
}

.main-trackList-trackListRow.main-trackList-active .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-active .main-trackList-rowMarker {
  color: var(--spice-color) !important;
}
.main-trackList-trackListRow.main-trackList-active .main-trackList-playingIcon {
  filter: brightness(1000%) !important;
}

#spicetify-group-session-menu > img {
  filter: grayscale(100%) contrast(200%) !important;
  border-radius: 5px !important;
  padding-bottom: 0 !important;
  margin-bottom: 12px !important;
}

img[src="/images/equaliser-green.svg"],
img[src="/images/equaliser-animated-green.gif"] {
  display: none;
}

/** Add new SVGs to the <img>'s parent div's ::after block */
/* Replace animated gif (when window focused) with custom replica animated svg */
.main-trackList-rowMarker:has(img[src="/images/equaliser-animated-green.gif"])::after {
  /* Takes an svg, uses it as a mask on top of a square of the desired theme color. */
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: var(--spice-color);
  background: var(--spice-color);
  -webkit-mask: url("https://raw.githubusercontent.com/JWWolstenholme/accented/refs/heads/feat/equalizer-svg/img/equalizer.svg") no-repeat center/contain;
  mask: url("https://raw.githubusercontent.com/JWWolstenholme/accented/refs/heads/feat/equalizer-svg/img/equalizer.svg") no-repeat center/contain;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Replace static svg (window not focused) with static svg (same as Spotify's static svg, except with `fill="currentColor"` added) */
.main-trackList-rowMarker:has(img[src="/images/equaliser-green.svg"])::after {
  /* Takes an svg, uses it as a mask on top of a square of the desired theme color. */
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: var(--spice-color);
  background: var(--spice-color);
  -webkit-mask: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M3.99902%2014H5.99902V0H3.99902V14ZM-0.000976562%2014H1.99902V4H-0.000976562V14ZM12%207V14H14V7H12ZM8.00002%2014H10V10H8.00002V14Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center/contain;
  mask: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M3.99902%2014H5.99902V0H3.99902V14ZM-0.000976562%2014H1.99902V4H-0.000976562V14ZM12%207V14H14V7H12ZM8.00002%2014H10V10H8.00002V14Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center/contain;
  -webkit-mask-size: contain;
  mask-size: contain;
}
