#bar_four_ts {
	animation: bar_four_ts__ts 900ms linear infinite normal forwards;
}
@keyframes bar_four_ts__ts {
	0% {
		transform: translate(21px, 24px) scale(1, 20);
		animation-timing-function: steps(1, end);
	}
	3.44827586206897% {
		transform: translate(21px, 24px) scale(1, 21);
		animation-timing-function: steps(1, end);
	}
	6.89655172413793% {
		transform: translate(21px, 24px) scale(1, 22);
		animation-timing-function: steps(1, end);
	}
	10.3448275862069% {
		transform: translate(21px, 24px) scale(1, 23);
		animation-timing-function: steps(1, end);
	}
	13.7931034482759% {
		transform: translate(21px, 24px) scale(1, 23);
		animation-timing-function: steps(1, end);
	}
	17.2413793103448% {
		transform: translate(21px, 24px) scale(1, 24);
		animation-timing-function: steps(1, end);
	}
	20.6896551724138% {
		transform: translate(21px, 24px) scale(1, 23);
		animation-timing-function: steps(1, end);
	}
	24.1379310344828% {
		transform: translate(21px, 24px) scale(1, 22);
		animation-timing-function: steps(1, end);
	}
	27.5862068965517% {
		transform: translate(21px, 24px) scale(1, 20);
		animation-timing-function: steps(1, end);
	}
	31.0344827586207% {
		transform: translate(21px, 24px) scale(1, 17);
		animation-timing-function: steps(1, end);
	}
	34.4827586206897% {
		transform: translate(21px, 24px) scale(1, 13);
		animation-timing-function: steps(1, end);
	}
	37.9310344827586% {
		transform: translate(21px, 24px) scale(1, 9);
		animation-timing-function: steps(1, end);
	}
	41.3793103448276% {
		transform: translate(21px, 24px) scale(1, 6);
		animation-timing-function: steps(1, end);
	}
	44.8275862068966% {
		transform: translate(21px, 24px) scale(1, 4);
		animation-timing-function: steps(1, end);
	}
	48.2758620689655% {
		transform: translate(21px, 24px) scale(1, 3);
		animation-timing-function: steps(1, end);
	}
	51.7241379310345% {
		transform: translate(21px, 24px) scale(1, 3);
		animation-timing-function: steps(1, end);
	}
	55.1724137931034% {
		transform: translate(21px, 24px) scale(1, 3);
		animation-timing-function: steps(1, end);
	}
	58.6206896551724% {
		transform: translate(21px, 24px) scale(1, 4);
		animation-timing-function: steps(1, end);
	}
	62.0689655172414% {
		transform: translate(21px, 24px) scale(1, 5);
		animation-timing-function: steps(1, end);
	}
	65.5172413793103% {
		transform: translate(21px, 24px) scale(1, 7);
		animation-timing-function: steps(1, end);
	}
	68.9655172413793% {
		transform: translate(21px, 24px) scale(1, 9);
		animation-timing-function: steps(1, end);
	}
	72.4137931034483% {
		transform: translate(21px, 24px) scale(1, 12);
		animation-timing-function: steps(1, end);
	}
	75.8620689655172% {
		transform: translate(21px, 24px) scale(1, 14);
		animation-timing-function: steps(1, end);
	}
	79.3103448275862% {
		transform: translate(21px, 24px) scale(1, 15);
		animation-timing-function: steps(1, end);
	}
	82.7586206896552% {
		transform: translate(21px, 24px) scale(1, 16);
		animation-timing-function: steps(1, end);
	}
	86.2068965517241% {
		transform: translate(21px, 24px) scale(1, 16);
		animation-timing-function: steps(1, end);
	}
	89.6551724137931% {
		transform: translate(21px, 24px) scale(1, 16);
		animation-timing-function: steps(1, end);
	}
	93.1034482758621% {
		transform: translate(21px, 24px) scale(1, 16);
		animation-timing-function: steps(1, end);
	}
	96.551724137931% {
		transform: translate(21px, 24px) scale(1, 17);
		animation-timing-function: steps(1, end);
	}
	100% {
		transform: translate(21px, 24px) scale(1, 18);
		animation-timing-function: steps(1, end);
	}
}
#bar_three_ts {
	animation: bar_three_ts__ts 900ms linear infinite normal forwards;
}
@keyframes bar_three_ts__ts {
	0% {
		transform: translate(15px,24px) scale(1, 13);
		animation-timing-function: steps(1, end);
	}
	3.44827586206897% {
		transform: translate(15px,24px) scale(1, 9);
		animation-timing-function: steps(1, end);
	}
	6.89655172413793% {
		transform: translate(15px,24px) scale(1, 6);
		animation-timing-function: steps(1, end);
	}
	10.3448275862069% {
		transform: translate(15px,24px) scale(1, 4);
		animation-timing-function: steps(1, end);
	}
	13.7931034482759% {
		transform: translate(15px,24px) scale(1, 3);
		animation-timing-function: steps(1, end);
	}
	17.2413793103448% {
		transform: translate(15px,24px) scale(1, 3);
		animation-timing-function: steps(1, end);
	}
	20.6896551724138% {
		transform: translate(15px,24px) scale(1, 3);
		animation-timing-function: steps(1, end);
	}
	24.1379310344828% {
		transform: translate(15px,24px) scale(1, 4);
		animation-timing-function: steps(1, end);
	}
	27.5862068965517% {
		transform: translate(15px,24px) scale(1, 5);
		animation-timing-function: steps(1, end);
	}
	31.0344827586207% {
		transform: translate(15px,24px) scale(1, 7);
		animation-timing-function: steps(1, end);
	}
	34.4827586206897% {
		transform: translate(15px,24px) scale(1, 9);
		animation-timing-function: steps(1, end);
	}
	37.9310344827586% {
		transform: translate(15px,24px) scale(1, 12);
		animation-timing-function: steps(1, end);
	}
	41.3793103448276% {
		transform: translate(15px,24px) scale(1, 14);
		animation-timing-function: steps(1, end);
	}
	44.8275862068966% {
		transform: translate(15px,24px) scale(1, 15);
		animation-timing-function: steps(1, end);
	}
	48.2758620689655% {
		transform: translate(15px,24px) scale(1, 15);
		animation-timing-function: steps(1, end);
	}
	51.7241379310345% {
		transform: translate(15px,24px) scale(1, 16);
		animation-timing-function: steps(1, end);
	}
	55.1724137931034% {
		transform: translate(15px,24px) scale(1, 16);
		animation-timing-function: steps(1, end);
	}
	58.6206896551724% {
		transform: translate(15px,24px) scale(1, 16);
		animation-timing-function: steps(1, end);
	}
	62.0689655172414% {
		transform: translate(15px,24px) scale(1, 17);
		animation-timing-function: steps(1, end);
	}
	65.5172413793103% {
		transform: translate(15px,24px) scale(1, 18);
		animation-timing-function: steps(1, end);
	}
	68.9655172413793% {
		transform: translate(15px,24px) scale(1, 20);
		animation-timing-function: steps(1, end);
	}
	72.4137931034483% {
		transform: translate(15px,24px) scale(1, 21);
		animation-timing-function: steps(1, end);
	}
	75.8620689655172% {
		transform: translate(15px,24px) scale(1, 22);
		animation-timing-function: steps(1, end);
	}
	79.3103448275862% {
		transform: translate(15px,24px) scale(1, 23);
		animation-timing-function: steps(1, end);
	}
	82.7586206896552% {
		transform: translate(15px,24px) scale(1, 24);
		animation-timing-function: steps(1, end);
	}
	86.2068965517241% {
		transform: translate(15px,24px) scale(1, 24);
		animation-timing-function: steps(1, end);
	}
	89.6551724137931% {
		transform: translate(15px,24px) scale(1, 23);
		animation-timing-function: steps(1, end);
	}
	93.1034482758621% {
		transform: translate(15px,24px) scale(1, 22);
		animation-timing-function: steps(1, end);
	}
	96.551724137931% {
		transform: translate(15px,24px) scale(1, 21);
		animation-timing-function: steps(1, end);
	}
	100% {
		transform: translate(15px,24px) scale(1, 17);
		animation-timing-function: steps(1, end);
	}
}
#bar_two_ts {
	animation: bar_two_ts__ts 900ms linear infinite normal forwards;
}
@keyframes bar_two_ts__ts {
	0% {
		transform: translate(9px,24px) scale(1, 24);
		animation-timing-function: steps(1, end);
	}
	3.44827586206897% {
		transform: translate(9px,24px) scale(1, 23);
		animation-timing-function: steps(1, end);
	}
	6.89655172413793% {
		transform: translate(9px,24px) scale(1, 22);
		animation-timing-function: steps(1, end);
	}
	10.3448275862069% {
		transform: translate(9px,24px) scale(1, 20);
		animation-timing-function: steps(1, end);
	}
	13.7931034482759% {
		transform: translate(9px,24px) scale(1, 17);
		animation-timing-function: steps(1, end);
	}
	17.2413793103448% {
		transform: translate(9px,24px) scale(1, 13);
		animation-timing-function: steps(1, end);
	}
	20.6896551724138% {
		transform: translate(9px,24px) scale(1, 10);
		animation-timing-function: steps(1, end);
	}
	24.1379310344828% {
		transform: translate(9px,24px) scale(1, 6);
		animation-timing-function: steps(1, end);
	}
	27.5862068965517% {
		transform: translate(9px,24px) scale(1, 4);
		animation-timing-function: steps(1, end);
	}
	31.0344827586207% {
		transform: translate(9px,24px) scale(1, 3);
		animation-timing-function: steps(1, end);
	}
	34.4827586206897% {
		transform: translate(9px,24px) scale(1, 3);
		animation-timing-function: steps(1, end);
	}
	37.9310344827586% {
		transform: translate(9px,24px) scale(1, 4);
		animation-timing-function: steps(1, end);
	}
	41.3793103448276% {
		transform: translate(9px,24px) scale(1, 4);
		animation-timing-function: steps(1, end);
	}
	44.8275862068966% {
		transform: translate(9px,24px) scale(1, 5);
		animation-timing-function: steps(1, end);
	}
	48.2758620689655% {
		transform: translate(9px,24px) scale(1, 7);
		animation-timing-function: steps(1, end);
	}
	51.7241379310345% {
		transform: translate(9px,24px) scale(1, 9);
		animation-timing-function: steps(1, end);
	}
	55.1724137931034% {
		transform: translate(9px,24px) scale(1, 12);
		animation-timing-function: steps(1, end);
	}
	58.6206896551724% {
		transform: translate(9px,24px) scale(1, 14);
		animation-timing-function: steps(1, end);
	}
	62.0689655172414% {
		transform: translate(9px,24px) scale(1, 15);
		animation-timing-function: steps(1, end);
	}
	65.5172413793103% {
		transform: translate(9px,24px) scale(1, 16);
		animation-timing-function: steps(1, end);
	}
	68.9655172413793% {
		transform: translate(9px,24px) scale(1, 16);
		animation-timing-function: steps(1, end);
	}
	72.4137931034483% {
		transform: translate(9px,24px) scale(1, 16);
		animation-timing-function: steps(1, end);
	}
	75.8620689655172% {
		transform: translate(9px,24px) scale(1, 16);
		animation-timing-function: steps(1, end);
	}
	79.3103448275862% {
		transform: translate(9px,24px) scale(1, 17);
		animation-timing-function: steps(1, end);
	}
	82.7586206896552% {
		transform: translate(9px,24px) scale(1, 18);
		animation-timing-function: steps(1, end);
	}
	86.2068965517241% {
		transform: translate(9px,24px) scale(1, 20);
		animation-timing-function: steps(1, end);
	}
	89.6551724137931% {
		transform: translate(9px,24px) scale(1, 21);
		animation-timing-function: steps(1, end);
	}
	93.1034482758621% {
		transform: translate(9px,24px) scale(1, 22);
		animation-timing-function: steps(1, end);
	}
	96.551724137931% {
		transform: translate(9px,24px) scale(1, 23);
		animation-timing-function: steps(1, end);
	}
	100% {
		transform: translate(9px,24px) scale(1, 24);
		animation-timing-function: steps(1, end);
	}
}
#bar_one_ts {
	animation: bar_one_ts__ts 900ms linear infinite normal forwards;
}
@keyframes bar_one_ts__ts {
	0% {
		transform: translate(3px,24px) scale(1, 14);
		animation-timing-function: steps(1, end);
	}
	3.44827586206897% {
		transform: translate(3px,24px) scale(1, 15);
		animation-timing-function: steps(1, end);
	}
	6.89655172413793% {
		transform: translate(3px,24px) scale(1, 16);
		animation-timing-function: steps(1, end);
	}
	10.3448275862069% {
		transform: translate(3px,24px) scale(1, 14);
		animation-timing-function: steps(1, end);
	}
	13.7931034482759% {
		transform: translate(3px,24px) scale(1, 16);
		animation-timing-function: steps(1, end);
	}
	17.2413793103448% {
		transform: translate(3px,24px) scale(1, 17);
		animation-timing-function: steps(1, end);
	}
	20.6896551724138% {
		transform: translate(3px,24px) scale(1, 18);
		animation-timing-function: steps(1, end);
	}
	24.1379310344828% {
		transform: translate(3px,24px) scale(1, 19);
		animation-timing-function: steps(1, end);
	}
	27.5862068965517% {
		transform: translate(3px,24px) scale(1, 21);
		animation-timing-function: steps(1, end);
	}
	31.0344827586207% {
		transform: translate(3px,24px) scale(1, 22);
		animation-timing-function: steps(1, end);
	}
	34.4827586206897% {
		transform: translate(3px,24px) scale(1, 23);
		animation-timing-function: steps(1, end);
	}
	37.9310344827586% {
		transform: translate(3px,24px) scale(1, 24);
		animation-timing-function: steps(1, end);
	}
	41.3793103448276% {
		transform: translate(3px,24px) scale(1, 24);
		animation-timing-function: steps(1, end);
	}
	44.8275862068966% {
		transform: translate(3px,24px) scale(1, 24);
		animation-timing-function: steps(1, end);
	}
	48.2758620689655% {
		transform: translate(3px,24px) scale(1, 23);
		animation-timing-function: steps(1, end);
	}
	51.7241379310345% {
		transform: translate(3px,24px) scale(1, 22);
		animation-timing-function: steps(1, end);
	}
	55.1724137931034% {
		transform: translate(3px,24px) scale(1, 20);
		animation-timing-function: steps(1, end);
	}
	58.6206896551724% {
		transform: translate(3px,24px) scale(1, 15);
		animation-timing-function: steps(1, end);
	}
	62.0689655172414% {
		transform: translate(3px,24px) scale(1, 11);
		animation-timing-function: steps(1, end);
	}
	65.5172413793103% {
		transform: translate(3px,24px) scale(1, 8);
		animation-timing-function: steps(1, end);
	}
	68.9655172413793% {
		transform: translate(3px,24px) scale(1, 5);
		animation-timing-function: steps(1, end);
	}
	72.4137931034483% {
		transform: translate(3px,24px) scale(1, 4);
		animation-timing-function: steps(1, end);
	}
	75.8620689655172% {
		transform: translate(3px,24px) scale(1, 3);
		animation-timing-function: steps(1, end);
	}
	79.3103448275862% {
		transform: translate(3px,24px) scale(1, 3);
		animation-timing-function: steps(1, end);
	}
	82.7586206896552% {
		transform: translate(3px,24px) scale(1, 4);
		animation-timing-function: steps(1, end);
	}
	86.2068965517241% {
		transform: translate(3px,24px) scale(1, 4);
		animation-timing-function: steps(1, end);
	}
	89.6551724137931% {
		transform: translate(3px,24px) scale(1, 6);
		animation-timing-function: steps(1, end);
	}
	93.1034482758621% {
		transform: translate(3px,24px) scale(1, 8);
		animation-timing-function: steps(1, end);
	}
	96.551724137931% {
		transform: translate(3px,24px) scale(1, 11);
		animation-timing-function: steps(1, end);
	}
	100% {
		transform: translate(3px,24px) scale(1, 13);
		animation-timing-function: steps(1, end);
	}
}